{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GusCoaching - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/styles.css' %}">
</head>
<body>
    <header>
        <h1 style="text-align: center;">Welcome to GusCoaching! 🏃‍♂️🏃‍♀️</h1>
        <img src="{% static 'images/Boulbi.png' %}" alt="Boulbi image" style="width: 1400px; height: 800px;">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Your Running Companion 🏃‍♂️🏃‍♀️</h2>
            <p>Join GusCoaching to access personalized 5k, 10k, half-marathon & marathon training plans 📋, track your progress 📈, and achieve your running goals.</p>
            <a href="{% url 'register' %}" class="btn btn-orange">Get Started</a>
        </section>

        <section class="testimonials">
            <h2>What My Athletes Are Saying 🗣️</h2>
            <div class="testimonial">
                <p>?? 🎯🔥”</p>
                <h4>- Iba</h4>
            </div>
            <div class="testimonial">
                <p>“ 🚀📈”</p>
                <h4>- Théau</h4>
            </div>
        </section>
        

        <section class="about">
            <h2>About GusCoaching</h2>
            <p>GusCoaching 🏃‍♂️🏃‍♀️ is a platform designed to help runners of all levels train for races 🏁 and achieve their best performance 💪. We offer personalized training plans 📋, progress tracking 📈, and expert tips 🧠 to keep you on the right track 🛤️.</p>
        </section>

        <section class="features">
            <h2>Key Features</h2>
            <ul>
                <li>Personalized training !</li>
                <li>Track your training progress and performance 🎯 </li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 GusCoaching. All rights reserved.</p>
    </footer>
</body>
</html>
