{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GusCoaching - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1 style="text-align: center;">Welcome to GusCoaching! 🏃‍♂️🏃‍♀️</h1>
        <img src="{% static 'images/Boulbi.png' %}" alt="Boulbi image">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Your Running Companion 🏃‍♂️🏃‍♀️</h2>
            <p>Join GusCoaching to access personalized 5k, 10k, half-marathon & marathon training plans 📋,  
                track your progress 📈, and achieve your running goals.</p>
            <a href="{% url 'register' %}" class="btn btn-orange">Get Started</a>
        </section>

        <section class="testimonials">
            <h2>What My Athletes Are Saying 🗣️</h2>
            <div class="testimonial">
                <p>?? 🎯🔥”</p>
                <h4>- Iba</h4>
            </div>
            <div class="testimonial">
                <p>“ 🚀📈”</p>
                <h4>- Théau</h4>
            </div>
        </section>
        

        <section class="about">
            <h2>About GusCoaching</h2>
            <p>
                GusCoaching 🏃‍♂️🏃‍♀️ is a platform designed to help runners of all levels train for races 🏁 and achieve their best performance 💪.<br>
                We offer personalized training plans 📋,<br>
                progress tracking 📈,<br>
                and expert tips 🧠 to keep you on the right track 🛤️.<br>
            </p>
            
        </section>

        <section class="about-me">
            <h2>About Me 🌟</h2>
            <p>“A child who dreams while running and who chases his dreams” 🏃‍♂️✨</p>
            <div class="about-content">
                <img src="{% static 'images/profile.png' %}" alt="Augustin Cablant" class="profile-img">
                <div class="details">
                    <p><strong>Augustin Cablant</strong>, 23 years old 🎓</p>
                    <p>AI Student 🤖</p>
                    <p>10K, Half-Marathon & Marathon Runner 🏅</p>
                    <p>Dreaming of competing in the Olympic Games on the marathon stage 🌍🏃‍♂️🇫🇷</p>
                </div>
            </div>
        </section>        
        

        <section class="features">
            <h2>Key Features</h2>
            <ul>
                <li>Personalized training !</li>
                <li>Track your training progress and performance 🎯 </li>
            </ul>
        </section>


        <section class="get-in-touch">
            <h2>Get in Touch</h2>
            <p>If you have any questions, requests, or information you'd like to share with me, please shoot!</p>
            <ul>
                <li><strong>Instagram:</strong> <a href="https://www.instagram.com/augustin_cablant" target="_blank">@augustin_cablant</a></li>
                <li><strong>Email:</strong> <a href="mailto:augustin.cablantca@gmail.com">augustin.cablantca@gmail.com</a></li>
            </ul>
        </section>

        

    </main>

    <footer>
        <p>&copy; 2025 GusCoaching. All rights reserved.</p>
    </footer>
</body>
</html>
